<!---Index Html-->
<!DOCTYPE html>
<html lang="en">
<head>
 <title>Home page</title>
</head>
<body>
  <% for(let i = 0; i < messages.length; i++) {%>
   <div><%= messages[i].text %></div>
   <div><%= messages[i].user %></div>
   <div><%= messages[i].added %></div>
   <a href="/message/<%= i %>">Open</a>
  <% } %>
</body>
</html>